# Automatically normalize line endings.
* text=auto

# Files and directories to exclude from the generated archive (export-ignore).
# These will be omitted from GitHub/Packagist ZIP archives to keep packages small.

/.github export-ignore
/bin export-ignore

# Don't include the dotfiles for distribution.
/.* export-ignore
/.phpcs.xml.dist export-ignore
/.phpcs.xml.dist.example export-ignore

# Mark docs as documentation for GitHub Linguist.
/CHANGELOG.md linguist-documentation export-ignore
/README.md linguist-documentation
/LICENSE linguist-documentation

